POSTGRES_SOURCE_HOST=postgres-source
POSTGRES_SOURCE_PORT=5432
POSTGRES_SOURCE_USER=sourceuser
POSTGRES_SOURCE_PASSWORD=sourcepass
POSTGRES_SOURCE_DB=sourcedb


POSTGRES_WAREHOUSE_HOST=postgres-warehouse
POSTGRES_WAREHOUSE_PORT=5433
POSTGRES_WAREHOUSE_USER=warehouseuser
POSTGRES_WAREHOUSE_PASSWORD=warehousepass
POSTGRES_WAREHOUSE_DB=warehousedb


POSTGRES_AIRFLOW_HOST=postgres-airflow
POSTGRES_AIRFLOW_PORT=5432
POSTGRES_AIRFLOW_USER=airflow
POSTGRES_AIRFLOW_PASSWORD=airflow
POSTGRES_AIRFLOW_DB=airflow

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=false

FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=


FMP_API_KEY=your_fmp_api_key_here
FMP_API_BASE_URL=https://financialmodelingprep.com/api/v3


JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=30
